#page-tag {
  display: flex;
}

#page-tag main {
  flex: 1;
}

div.tag {
  width: 600px;
  margin: 64px auto;
}

#page-tag fieldset {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 0 16px 16px;
}

#page-tag fieldset legend {
  padding: 8px;
  font-size: 16;
}

div.cut {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 24px;
}

hr {
  border: none;
  border-top: 2px dotted #000;
  width: 97%;
}

div.tag h3 + h3 {
  margin-top: 8px;
}